services:
  - type: web
    name: anistream-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /api
    envVars:
      - key: NODE_ENV
        value: production
